header
{
	margin: 0px;
	padding-bottom: -10px;
}

body  { 
	background-attachment:local;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	margin: 0px; 
	padding: 0px;
	}

footer
{
	margin: 0px; 
	padding: 0px;
}
.Backdrop
{
	background: rgb(3,3,31);
	background: linear-gradient(135deg, rgb(6, 73, 21) 0%, rgba(146,255,73,1) 60%, rgba(232,255,139,1) 100%);
}
.banner
{
	
	margin: 0px;
	padding: 0px;
	max-width:100%
}

.gif
{
	
	border-style:solid;
	border-width: 5%;
}

h1{
	color: rgb(58, 175, 29);
	font-size: 60px;
	letter-spacing: 15px;
	text-align: left;
	font-style: italic;
	}
h2{
	color: rgb(255, 255, 255);
	font-size: 40px;
	letter-spacing: 2px;
	text-indent: 80px;
	text-align: left;
	font-style: italic;
	}

h4
{
	color: rgb(30, 91, 18);
	text-align: center	;
	
}
h6
{
	color: red;
}
a{text-decoration: none;}
ul{
	display: flex;
	justify-content:space-around;
	align-items: center;
	background-color: rgb(34, 27, 27);
	border-style:solid;
	border-right: wheat;
	border-left: wheat;
	border-color: rgb(8, 49, 10);
	border-width: 10px;
	letter-spacing: 1px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
#NavbarText
{
    color:rgb(255, 255, 255);
	font-size: 40px;
}
h3
{
	font-size: 100%;
	margin: 0px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3::first-letter
{
	color: rgb(62, 211, 67);
}
.Navbar a:hover{
    animation-name: expand;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    font-size: 150%;   
}
@keyframes expand {     
    from {font-size: 250%;background-color: rgb(22, 22, 22);}
    to {font-size: 300%;background-color: rgb(31, 31, 31);}

}
