
body  { 
	background-color: rgb(1, 1, 8);
	min-height: 8000px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font: 75% georgia, sans-serif;
	line-height: 3;
	color: rgb(255, 255, 255); 
	margin: 0; 
	padding: 10;
	text-align: center;
	}

[role=banner] {
	font-size: 50px;
	font-family: "Roboto";
	top: 50px;
}
[role=banner]:hover{
	animation-name: onHover;
	animation-duration: 0.5s;	
	color: rgb(255, 0, 13);
}
@keyframes onHover{
    from {color: rgb(255, 255, 255);}
    to {color: rgb(255, 0, 13);}
}

h1{
	top: 50px;
	font-size: 30px;
	letter-spacing: 5px;
	text-indent: 80px;
	text-align: left;
	}
image
{
	width: 400;
	height: 400;
}